MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

INFOPLIST_KEY_CFBundleDisplayName = GitHub Users
INFOPLIST_KEY_UILaunchScreen_Generation = YES
INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight

ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
STRING_CATALOG_GENERATE_SYMBOLS = YES
SWIFT_EMIT_LOC_STRINGS = YES

CODE_SIGN_IDENTITY = Apple Development
